services:
  gamarr:
    image: ghcr.io/wjbeckett/gamarr:latest
    container_name: gamarr
    ports:
      - 3000:3000
    volumes:
      - /downloads:/app/downloads # Download directory
      - /library:/app/library # Game library
      - /tmp:/app/temp # Temporary processing directory
      - /data:/app/data
    environment:
      - PROWLARR_URL=http://prowlarr:9696
      - PROWLARR_API_KEY=your-api-key
      - DOWNLOAD_CLIENT_URL=http://qbittorrent:8080
      - DOWNLOAD_CLIENT_API_KEY=your-api-key
      - NODE_ENV=development
      - LOG_LEVEL=debug
      - PUID=99
      - PGID=100
      - GIANTBOMB_API_KEY=<GIANTBOMB API>
      - IGDB_CLIENT_ID=<IGDB KEY>
      - IGDB_CLIENT_SECRET=<IGDB Secret>
    restart: unless-stopped